<!-- Create Contact Modal -->
<div class="modal fade" id="createContactModal" tabindex="-1" role="dialog" aria-labelledby="createContactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createContactModalLabel">Create New <%= singleTitle %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="createContactForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstName">First Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastName">Last Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="lastName" name="lastName" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" name="company">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="department">Department</label>
                <input type="text" class="form-control" id="department" name="department">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="jobTitle">Job Title</label>
                <input type="text" class="form-control" id="jobTitle" name="jobTitle">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="leadSource">Lead Source</label>
                <input type="text" class="form-control" id="leadSource" name="leadSource">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="industry">Industry</label>
                <input type="text" class="form-control" id="industry" name="industry">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="assignedTo">Assigned To</label>
                <input type="number" class="form-control" id="assignedTo" name="assignedTo">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" name="state">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="zip">ZIP</label>
                <input type="text" class="form-control" id="zip" name="zip">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="createContactBtn">Create <%= singleTitle %></button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#createContactBtn").click(function() {
      const formData = {
        firstName: $("#createContactForm input[name=firstName]").val(),
        lastName: $("#createContactForm input[name=lastName]").val(),
        email: $("#createContactForm input[name=email]").val(),
        phone: $("#createContactForm input[name=phone]").val(),
        company: $("#createContactForm input[name=company]").val(),
        jobTitle: $("#createContactForm input[name=jobTitle]").val(),
        department: $("#createContactForm input[name=department]").val(),
        leadSource: $("#createContactForm input[name=leadSource]").val(),
        industry: $("#createContactForm input[name=industry]").val(),
        address: $("#createContactForm input[name=address]").val(),
        city: $("#createContactForm input[name=city]").val(),
        state: $("#createContactForm input[name=state]").val(),
        zip: $("#createContactForm input[name=zip]").val(),
        country: $("#createContactForm input[name=country]").val(),
        description: $("#createContactForm textarea[name=description]").val(),
        assignedTo: $("#createContactForm input[name=assignedTo]").val(),
      };

      $.ajax({
        url: "<%= baseUrl %>contact/create",
        type: "POST",
        data: formData,
        success: function(response, textStatus, xhr) {
          if (xhr.status == 201) {
            Swal.fire({
              title: "Created!",
              text: "<%= singleTitle %> has been created successfully.",
              icon: "success",
              timer: 1500,
              showConfirmButton: false,
            }).then(() => {
              location.reload();
            });
          } else {
            Swal.fire({
              title: "Error!",
              text: response.message || "Failed to create item.",
              icon: "error",
            });
          }
        },
        error: function(xhr) {
          Swal.fire({
            title: "Error!",
            text: xhr.responseJSON?.message || "An error occurred while creating the item.",
            icon: "error",
          });
        },
      });
    });
  });
</script> 