<div class="modal fade" id="createAccountModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= singleTitle %> Create</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="createAccountForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="accountType">Account Type</label>
                <input
                  type="text"
                  class="form-control"
                  name="accountType"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="website">Website</label>
                <input
                  type="text"
                  class="form-control"
                  name="website"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="industry">Industry</label>
                <input
                  type="text"
                  class="form-control"
                  name="industry"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="assignedTo">Assigned To</label>
                <input
                  type="number"
                  class="form-control"
                  name="assignedTo"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">Address</label>
                <input
                  type="text"
                  class="form-control"
                  name="address"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="city">City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="state">State</label>
                <input
                  type="text"
                  class="form-control"
                  name="state"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="zip">ZIP</label>
                <input
                  type="text"
                  class="form-control"
                  name="zip"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="country">Country</label>
                <input
                  type="text"
                  class="form-control"
                  name="country"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  name="description"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    const form = document.getElementById("createAccountForm");

    form.addEventListener("submit", function (event) {
      event.preventDefault();

      const formData = {
        name: $("input[name=name]").val(),
        accountType: $("input[name=accountType]").val(),
        website: $("input[name=website]").val(),
        industry: $("input[name=industry]").val(),
        phone: $("input[name=phone]").val(),
        address: $("input[name=address]").val(),
        city: $("input[name=city]").val(),
        state: $("input[name=state]").val(),
        zip: $("input[name=zip]").val(),
        country: $("input[name=country]").val(),
        description: $("textarea[name=description]").val(),
        assignedTo: $("input[name=assignedTo]").val(),
      };

      $.ajax({
        url: "<%= baseUrl %>account/create",
        type: "POST",
        data: JSON.stringify(formData),
        contentType: "application/json",
        success: function (response, textStatus, xhr) {
          if (xhr.status == 201) {
            Swal.fire({
              title: "Success!",
              text: response.message,
              icon: "success",
              confirmButtonText: "OK",
            }).then((result) => {
              if (result.isConfirmed) {
                location.reload();
              }
            });
          }
        },
        error: function (xhr) {
          let errorMessage = "An error occurred while creating the account.";
          if (xhr.responseJSON && xhr.responseJSON.message) {
            errorMessage = xhr.responseJSON.message;
          }
          Swal.fire({
            title: "Error!",
            text: errorMessage,
            icon: "error",
          });
        },
      });
    });
  });
</script> 