<div class="modal fade" id="updatePaymentModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= singleTitle %> Update</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="updatePaymentForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="paymentNumber">Payment Number</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="paymentNumber"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="paymentType">Payment Type</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="paymentType"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="paymentDate">Payment Date</label>
                <input
                  type="date"
                  class="form-control form-control-sm"
                  name="paymentDate"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="amount">Amount</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  name="amount"
                  required
                  step="0.01"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="paymentMethodId">Payment Method ID</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  name="paymentMethodId"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="reference">Reference</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="reference"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="entityType">Entity Type</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="entityType"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="entityId">Entity ID</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  name="entityId"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="accountId">Account ID</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  name="accountId"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="paymentImage">Payment Image</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="paymentImage"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="notes">Notes</label>
                <textarea
                  class="form-control form-control-sm"
                  name="notes"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  
</script> 