<div class="modal fade" id="updateExpenseCategoryModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <%= singleTitle %> Update #
          <span class="expenseCategoryIdUpdate">000</span>
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="updateExpenseCategoryForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control form-control-sm" name="name" required />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control form-control-sm" name="description" rows="3"></textarea>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> 